/* 
Make the entire background blue.
An id of "text-2" should have red font color.
Any div with a class of "box" should have 25% margins on all sides, a black, solid 1px border, with curved corners. (NOTE: make sure only div's with the class are targeted)
All list items (li) should have a white background when they are hovered over.
Every third row in any table should have a gray background.
*/

body {
    background-color: blue;
    }
    
#text-2 {
    color: red;
    }

.box {
    margin: 25%;
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 25%;
    }
    
tr:nth-child(3n) {
    background-color: gray;
}

li:hover {
    background-color: white;
}